[submodule "android/assets/mods/CoeHarMod"]
	path = android/assets/mods/CoeHarMod
	url = https://github.com/AutumnPizazz/CoeHarMod.git
[submodule "server-ts"]
	path = server-ts
	url = https://github.com/blyrin/unciv-srv.git
